<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Booking</title>
  <script>
    // Hide flash message after 3 seconds
    setTimeout(function () {
        var flashMessage = document.getElementById('flash-message');
        if (flashMessage) {
            flashMessage.style.display = 'none';
        }
    }, 3000); // 3000ms = 3 seconds
  </script>
  <link rel="stylesheet" th:href="@{/css/Sidebar.css}">
  <link rel="stylesheet" th:href="@{/css/Booking.css}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div style="display:flex;">
  <div th:replace="~{fragments/Sidebar :: Sidebar(user=${user})}"></div>
  <div class="container">
  <h2>Create Booking</h2>
    <div id="flash-message"
         th:if="${message}"
         style="margin-bottom: 20px; padding: 10px; background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; border-radius: 5px;">
      <p th:text="${message}"></p>
    </div>
  <form th:action="@{/submitBooking}" th:object="${bookingRequestDto}" method="post">
    <input type="hidden" th:name="userId" th:value="${user.id}" />

    <div>
      <label>Select Car:</label>
      <select th:field="*{carId}" required>
        <option value="0" disabled selected>-- Choose a car --</option>
        <option th:each="car : ${allAvailableCars}"
                th:value="${car.id}"
                th:text="${car.name}">Car</option>
      </select>
    </div>

    <div>
      <label>Source Location:</label>
      <select th:field="*{sourceLocationId}" required>
        <option value="0" disabled selected>-- Choose source --</option>
        <option th:each="loc : ${allLocations}"
                th:value="${loc.id}"
                th:text="${loc.name}">Source</option>
      </select>
    </div>

    <div>
      <label>Destination Location:</label>
      <select th:field="*{destinationLocationId}" required>
        <option value="0" disabled selected>-- Choose destination --</option>
        <option th:each="loc : ${allLocations}"
                th:value="${loc.id}"
                th:text="${loc.name}">Destination</option>
      </select>
    </div>

    <div>
      <label>Start Date:</label>
      <input type="date" th:field="*{startDate}" required/>
    </div>

    <div>
      <label>End Date:</label>
      <input type="date" th:field="*{endDate}" required/>
    </div>

    <div>
      <button type="submit">Submit Booking</button>
    </div>
  </form>
</div>
</div>
</body>
</html>